<div class="container mt-5">
    <h2>List of Users</h2>
    <a routerLink = "user/add/0" class = "btn btn-primary mt-5 mb-3">Add User</a>
    <table class = "table">
        <thead>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Order Total</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor = "let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.address}}</td>
                <td>{{user.city}}</td>
                <td>{{user.state}}</td>
                <td>{{user.order}}</td>
                <td><a [routerLink] = "['user/edit',user.id]">Update</a></td>
                <td><button (click) = "onDelete(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <!-- <router-outlet></router-outlet> -->
</div>