<div class="mt-5 col-sm-6 col-md-6">
    <h2>{{header}}</h2>

    <form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" class = "form-control" [ngModel] = "user.id" name = "id">
        </div>
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class = "form-control" [ngModel] = "user.firstName" name = "firstName">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class = "form-control" [ngModel] = "user.lastName" name = "lastName">
        </div>
        <div class="form-group">
            <label for="">Address</label>
            <input type="text" class = "form-control" [ngModel] = "user.address" name = "address">
        </div>
        <div class="form-group">
            <label for="">City</label>
            <input type="text" class = "form-control" [ngModel] = "user.city" name = "city">
        </div>
        <div class="form-group">
            <label for="">State</label>
            <input type="text" class = "form-control" [ngModel] = "user.state" name = "state">
        </div>
        <div class="form-group">
            <label for="">Order Total</label>
            <input type="text" class = "form-control" [ngModel] = "user.order" name = "order">
        </div>
        <div class="form-group">
            <button type = "submit" class = "btn btn-success">Submit</button>
        </div>
    </form>
</div>
